<div class = "container row">
  <div class="col-6"></div>
  <div class="col-6">
   <div class="task-generator  d-flex justify-content-center">
    <div class="container form-gropup"> 
    <h2>Make a new task!</h2>
    <form [formGroup] = "formData" (ngSubmit) = "newTask()">
    <label for="name">Task:</label>
    <input id="name" class="form-control"  type="text" formControlName = "name">
    <label for="describe">Describe your task!</label>
    <input id="describe" class="form-control" type="text" formControlName ="describe">
    <label for="describe">Deadline: (MM/DD/YYYY)</label>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <br>
    <input matInput [matDatepicker]="picker"  class="form-control" formControlName ="deadline">
    <br>
   
    
    <br>
    <label id="radio-group-label" for="inProgress">Task in progress?</label>
    <mat-radio-group id="inProgress" aria-label="Select an option" [(ngModel)]="isInProgress"  formControlName="inProgress">
        <mat-radio-button value="Yes">Yes</mat-radio-button>
        <mat-radio-button value="No">No</mat-radio-button>
      </mat-radio-group>
      <br>
      <button class="button btn btn-primary" [disabled]="!formData.valid" type="submit">Create</button>
</form>
</div>
</div>
</div>
</div>