<div class = "container row edit-task">
    
     <div class="task-generator  d-flex justify-content-center">
      <div class="container form-gropup"> 
      <h2>Make a new task!</h2>
      <form [formGroup] = "formData" (ngSubmit) = "saveTask()">
      <label for="name">Task:</label>
      <input id="name" class="form-control" matInput placeholder="Name of a task"  type="text" formControlName = "name">
      <label for="describe">Describe your task!</label>
      <textarea matInput placeholder="Describe your task" class="form-control" type="text" formControlName ="describe"></textarea>
      <div class="row">
        <div class="col-3"><label for="deadline">Deadline: (MM/DD/YYYY)</label></div>
        <div class="col-2"><div class="datePicker"><mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker></div> </div>
       
       <div class="col-7 date-input"><input matInput [matDatepicker]="picker" id="deadline" class="form-control" formControlName ="deadline"></div>
      </div>
      <label id="radio-group-label" for="inProgress">Task in progress?</label>
      <mat-radio-group id="inProgress" aria-label="Select an option" [(ngModel)]="isInProgress"  formControlName="inProgress">
          <mat-radio-button value="Yes">Yes</mat-radio-button>
          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
        <br>
        
        <button class="button btn btn-danger" type="button">Cancel</button>
        <button class="button btn btn-primary" [disabled]="!formData.valid" type="submit">Save</button>
  </form>
  </div>
  </div>
  </div>