.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.task {
  margin-top: 12px;
  width: 90%;
  margin-left: 5%;
}

.task:last-child {
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  margin-left: 5%;
  margin-top: 70px;
}
