
<div class="task-container">
<h2>Task list:</h2>
<div class="row">
<div class="task" *ngFor="let item of taskService.Tasks">

    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{item.inProgress}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{item.describe}}</p>
          <p>{{item.deadline}}</p>
          <p>{{item.id}}</p>
          <button mat-raised-button class="edit btn btn-info " (click)="openDialog(item)">Edit</button>
    <button class="delete btn btn-danger" (click)="removeTask(item)">Delete</button>
        </mat-expansion-panel>
      </mat-accordion>
</div> 
</div>
</div>
